body, #board {
  background-color: black;
  
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
}

#timer, #score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}